@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container {
  max-width: 700px;
  widows: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container form .usuario-detalle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .usuario-detalle .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.usuario-detalle .input-box .detalles {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.usuario-detalle .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.usuario-detalle .input-box input:focus,
.usuario-detalle .input-box input:focus {
  border-color: #9b59b6;
}
form .genero-detalle .genero-titulo {
  font-size: 20px;
  font-weight: 500;
}
form .genero-detalle .categoria {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}
.genero-detalle {
  width: 80%;
}
.genero-detalle .categoria label {
  display: flex;
  align-items: center;
}
.genero-detalle .categoria .dot {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .categoria .one,
#dot-2:checked ~ .categoria .two,
#dot-3:checked ~ .categoria .tree {
  border-color: #d9d9d9;
  background: #9b59b6;
}
form input[type="radio"] {
  display: none;
}
form .button {
  height: 45px;
  margin: 40px 0;
  cursor: pointer;
}
form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
form .button input:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .usuario-detalle .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .genero-detalle .categoria {
    width: 100%;
  }
  .container form .usuario-detalle {
    max-height: 300px;
    overflow-y: scroll;
  }
}
